import("methods", "utils")
export("checkIdentical",
	"checkFail",
	"checkRun",
	"checkTrue",
	"checkEqual",
	"checkFalse",           
	"finishTest",
	"setCon",
	"startTest",
	"tagTest",
	"strIni",
	"check.fields"
)
exportClasses(
	"ceData",
	"ceDataVal",
	"ceDataCons",
	"clData",
	"clDataVal",
	"clDataCons",
	"csData",
	"csDataVal",
	"csDataCons",
	"strIni"
)
exportMethods(
	"checkNms",
	"checkDataIntegrity",
	"checkTRnms",
	"checkHHnms",
	"checkSLnms",
	"checkHLnms",
	"checkCAnms",
	"checkTRpk",
	"checkHHpk",
	"checkSLpk",
	"checkHLpk",
	"checkCApk",
	"checkTys",
	"csData",
	"desc",
	"tr",
	"hh",
	"hl",
	"sl",
	"ca",
	"checkCLpk",
	"checkCLnms",
	"clData",
	"cl",
	"checkCEpk",
	"checkCEnms",
	"ceData",
	"ce",
	"head",
	"tail",
	"summary",
#	"is.csData",
#	"is.ceData",
#	"is.clData",
	"subset",
	"subsetSpp",
	"rbind2",
	"ceDataVal",
	"ceDataCons",
	"clDataVal",
	"clDataCons",
	"csDataVal",
	"csDataCons",
	"coerceDataFrameColumns"
# "createSUid"
)

